force-app/main/default/flows/Case_Owner_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Update_Case_Owner_Customer_Rep</name>
        <label>Update Case Owner (Customer Rep)</label>
        <locationX>283</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Rep.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Owner_Technical_Rep</name>
        <label>Update Case Owner (Technical Rep)</label>
        <locationX>49</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Technical_Rep.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_ID</name>
        <label>Check Account ID</label>
        <locationX>167</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Does Not Have Account</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Type</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Type</name>
        <label>Check Case Type</label>
        <locationX>168</locationX>
        <locationY>523</locationY>
        <defaultConnectorLabel>No Type</defaultConnectorLabel>
        <rules>
            <name>Product_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Problem/Technical Guidance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Technical_Rep</targetReference>
            </connector>
            <label>Product Related</label>
        </rules>
        <rules>
            <name>Service_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Related Issue/Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Rep</targetReference>
            </connector>
            <label>Service Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>274</locationX>
        <locationY>786</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer_Rep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Customer_Rep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_0</name>
        <label>Found?</label>
        <locationX>42</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Technical_Rep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_Technical_Rep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the Case owner Based on Case Type.</description>
    <interviewLabel>Case Owner Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Owner Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Rep</name>
        <label>Get Customer Rep</label>
        <locationX>283</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Technical_Rep</name>
        <label>Get Technical Rep</label>
        <locationX>50</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA - Technical Service Rep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>1113</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>282</locationX>
        <locationY>1110</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0125w000000n3ZdAAI</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
