force-app/main/default/flows/CS_Rep_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter</name>
        <label>Post To Chatter</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0</name>
        <label>Post To Chatter</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0</name>
        <label>Post To Chatter</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>4010</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>4274</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>4538</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>4802</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>5066</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>5330</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>5594</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Post To Chatter</label>
        <locationX>5858</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[{!NewAccountTeamMember.UserId}], you&apos;ve been added to the following account.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Debbie_Steuber_a_task_to_assign_CS_rep</name>
        <label>Send Debbie Steuber a task to assign CS rep</label>
        <locationX>6386</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>005f20000096j0wAAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDatePlusSevenDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign CS Rep</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_KD_a_task_to_assign_CS_rep</name>
        <label>Send KD a task to assign CS rep</label>
        <locationX>6122</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>0055w00000CyxNrAAJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDatePlusSevenDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign CS Rep</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_KD_a_task_to_assign_CS_rep_0_0_0</name>
        <label>Send KD a task to assign CS rep</label>
        <locationX>6914</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>0055w00000CyxNrAAJ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDatePlusSevenDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign CS Rep</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Matthew_Rohm_a_task_to_assign_CS_rep</name>
        <label>Send Matthew Rohm a task to assign CS rep</label>
        <locationX>7178</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>0055w00000FNny6AAD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDatePlusSevenDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign CS Rep</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Matthew_Rohm_a_task_to_assign_CS_rep_0</name>
        <label>Send Matthew Rohm a task to assign CS rep</label>
        <locationX>6650</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>0055w00000FNny6AAD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDatePlusSevenDates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Assign CS Rep</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Angela_Sandoval</name>
        <label>Assign Angela Sandoval</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j1F</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carla_Bordeaux</name>
        <label>Assign Carla Bordeaux</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000FNnxw</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dawn_Dyer</name>
        <label>Assign Dawn Dyer</label>
        <locationX>4538</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dawn_Dyer_2</name>
        <label>Assign Dawn Dyer</label>
        <locationX>4802</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0n</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Diana_Rodriguez</name>
        <label>Assign Diana Rodriguez</label>
        <locationX>4010</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j1E</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fiorella_Somos</name>
        <label>Assign Fiorella Somos</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j11</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fiorella_Somos_2</name>
        <label>Assign Fiorella Somos</label>
        <locationX>4274</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j11</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Greg_Gangel</name>
        <label>Assign Greg Gangel</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0x</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Karen_Zinkosky</name>
        <label>Assign Karen Zinkosky</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0p</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Karen_Zinkosky_2</name>
        <label>Assign Karen Zinkosky</label>
        <locationX>5330</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0p</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Karen_Zinkowswky</name>
        <label>Assign Karen Zinkowswky</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0p</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Kathy_Bray</name>
        <label>Assign Kathy Bray</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Kathy_Bray_2</name>
        <label>Assign Kathy Bray</label>
        <locationX>5066</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Kathy_Bray_2_0</name>
        <label>Assign Kathy Bray</label>
        <locationX>5858</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lorrie_Shonka_Lusche</name>
        <label>Assign Lorrie Shonka-Lusche</label>
        <locationX>5594</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx4U1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lucy_Cano</name>
        <label>Assign Lucy Cano</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j1D</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lucy_Cano_2</name>
        <label>Assign Lucy Cano</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j1D</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marsha_McClurg</name>
        <label>Assign Marsha McClurg</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0z</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marsha_McClurg_2</name>
        <label>Assign Marsha McClurg</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0z</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sara_Frazier</name>
        <label>Assign Sara Frazier</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000CwOIu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sara_Frazier_2</name>
        <label>Assign Sara Frazier</label>
        <locationX>3482</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000CwOIu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Terri_Russell</name>
        <label>Assign Terri Russell</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0y</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Terri_Russell_2</name>
        <label>Assign Terri Russell</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA - Customer Service Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f20000096j0y</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Chatter_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Owner</name>
        <label>Check Account Owner</label>
        <locationX>3746</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Steve_Allard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Terri_Russell</targetReference>
            </connector>
            <label>Steve Allard</label>
        </rules>
        <rules>
            <name>Paul_Sawyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j1K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Kathy_Bray</targetReference>
            </connector>
            <label>Paul Sawyer</label>
        </rules>
        <rules>
            <name>Rich_Bonnell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carla_Bordeaux</targetReference>
            </connector>
            <label>Rich Bonnell</label>
        </rules>
        <rules>
            <name>Lisa_Bowman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j1L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Greg_Gangel</targetReference>
            </connector>
            <label>Lisa Bowman</label>
        </rules>
        <rules>
            <name>Danielle_Cole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Angela_Sandoval</targetReference>
            </connector>
            <label>Danielle Cole</label>
        </rules>
        <rules>
            <name>Ronan_Colman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0X</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Karen_Zinkowswky</targetReference>
            </connector>
            <label>Ronan Colman</label>
        </rules>
        <rules>
            <name>Brad_Diesing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Marsha_McClurg</targetReference>
            </connector>
            <label>Brad Diesing</label>
        </rules>
        <rules>
            <name>Joshua_Dunahoe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0055w00000Cwa90</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lucy_Cano</targetReference>
            </connector>
            <label>Joshua Dunahoe</label>
        </rules>
        <rules>
            <name>Aaron_Eastin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Marsha_McClurg_2</targetReference>
            </connector>
            <label>Aaron Eastin</label>
        </rules>
        <rules>
            <name>Mark_Goldwater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lucy_Cano_2</targetReference>
            </connector>
            <label>Mark Goldwater</label>
        </rules>
        <rules>
            <name>Justin_Herideen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0I</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Karen_Zinkosky</targetReference>
            </connector>
            <label>Justin Herideen</label>
        </rules>
        <rules>
            <name>Mark_Mudgett</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fiorella_Somos</targetReference>
            </connector>
            <label>Mark Mudgett</label>
        </rules>
        <rules>
            <name>Charlie_Nowicki</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096jOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sara_Frazier</targetReference>
            </connector>
            <label>Charlie Nowicki</label>
        </rules>
        <rules>
            <name>David_Peecook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sara_Frazier_2</targetReference>
            </connector>
            <label>David Peecook</label>
        </rules>
        <rules>
            <name>Andrea_Penneau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f20000096j0u</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Terri_Russell_2</targetReference>
            </connector>
            <label>Andrea Penneau</label>
        </rules>
        <rules>
            <name>Martin_Perry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Diana_Rodriguez</targetReference>
            </connector>
            <label>Martin Perry</label>
        </rules>
        <rules>
            <name>Solange_Barbara</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0W</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fiorella_Somos_2</targetReference>
            </connector>
            <label>Solange Barbara</label>
        </rules>
        <rules>
            <name>Michael_Stein</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096jPe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dawn_Dyer</targetReference>
            </connector>
            <label>Michael Stein</label>
        </rules>
        <rules>
            <name>Travis_Tomaszewski</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0055w00000Cz9fx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dawn_Dyer_2</targetReference>
            </connector>
            <label>Travis Tomaszewski</label>
        </rules>
        <rules>
            <name>John_White</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0V</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Kathy_Bray_2</targetReference>
            </connector>
            <label>John White</label>
        </rules>
        <rules>
            <name>Irene_Zhang</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0055w00000Czl6M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Karen_Zinkosky_2</targetReference>
            </connector>
            <label>Irene Zhang</label>
        </rules>
        <rules>
            <name>US_Karla_Bridgeman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lorrie_Shonka_Lusche</targetReference>
            </connector>
            <label>US Karla Bridgeman</label>
        </rules>
        <rules>
            <name>Canada_Karla_Bridgeman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j0C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Kathy_Bray_2_0</targetReference>
            </connector>
            <label>Canada Karla Bridgeman</label>
        </rules>
        <rules>
            <name>Michael_Keaney</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0055w00000CwwZL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_KD_a_task_to_assign_CS_rep</targetReference>
            </connector>
            <label>Michael Keaney</label>
        </rules>
        <rules>
            <name>Rob_Lester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096rn5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Debbie_Steuber_a_task_to_assign_CS_rep</targetReference>
            </connector>
            <label>Rob Lester</label>
        </rules>
        <rules>
            <name>Tom_Valada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096j08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Matthew_Rohm_a_task_to_assign_CS_rep_0</targetReference>
            </connector>
            <label>Tom Valada</label>
        </rules>
        <rules>
            <name>Ashley_Nyman</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0055w00000Cyn0k</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_KD_a_task_to_assign_CS_rep_0_0_0</targetReference>
            </connector>
            <label>Ashley Nyman</label>
        </rules>
        <rules>
            <name>Laura_Ostrout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005f20000096izz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Matthew_Rohm_a_task_to_assign_CS_rep</targetReference>
            </connector>
            <label>Laura Ostrout</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>3746</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAccountTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Team_Member</targetReference>
            </connector>
            <label>IS NOT NULL</label>
        </rules>
    </decisions>
    <description>Test SfDC</description>
    <formulas>
        <name>DueDatePlusSevenDates</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <interviewLabel>CS Rep Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS Rep Automation - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Team_Member</name>
        <label>Create New Team Member</label>
        <locationX>3614</locationX>
        <locationY>911</locationY>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <start>
        <locationX>3620</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Owner</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
