force-app/main/default/flows/EU_New_Account_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Claire_Jurecki</name>
        <label>Add Claire Jurecki</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Application Development</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx8m9AAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Claire_Jurecki</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Katharina_Friedl</name>
        <label>Add Katharina Friedl</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Project Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000CysWFAAZ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Katharina_Friedl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lee_Macnamara</name>
        <label>Add Lee Macnamara</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Application Development</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx9XjAAJ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lee_Macnamara</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lenville_Busu</name>
        <label>Add Lenville Busu</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Application Development</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx8kmAAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lenville_Busu</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Niusha_Bagheri</name>
        <label>Add Niusha Bagheri</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Project Leader</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx8kIAAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Niusha_Bagheri</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Paula_Beumer</name>
        <label>Add Paula Beumer</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - CTT Specialist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f200000A7LRWAA3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Paula_Beumer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Peter_Hamilton</name>
        <label>Add Peter Hamilton</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EU - Application Development</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055w00000Cx8lpAAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Peter_Hamilton</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EU_Customer_Yes</name>
        <label>EU Customer - Yes</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_EU_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EU_Customer_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Peter_Hamilton</targetReference>
            </connector>
            <label>Yes, EU Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EU New Account Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EU New Account Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Claire_Jurecki</name>
        <label>Create Claire Jurecki</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Add_Paula_Beumer</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Katharina_Friedl</name>
        <label>Create Katharina Friedl</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Add_Niusha_Bagheri</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lee_Macnamara</name>
        <label>Create Lee Macnamara</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Add_Claire_Jurecki</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lenville_Busu</name>
        <label>Create Lenville Busu</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Lee_Macnamara</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Niusha_Bagheri</name>
        <label>Create Niusha Bagheri</label>
        <locationX>50</locationX>
        <locationY>2015</locationY>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Paula_Beumer</name>
        <label>Create Paula Beumer</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Add_Katharina_Friedl</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Peter_Hamilton</name>
        <label>Create Peter Hamilton</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Add_Lenville_Busu</targetReference>
        </connector>
        <inputReference>NewAccountTeamMember</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EU_Customer_Yes</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
