force-app/main/default/flows/Global_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Update_Collection</name>
        <label>Add To Update Collection</label>
        <locationX>1023</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts_for_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts_for_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Global</name>
        <label>Assign Global</label>
        <locationX>1023</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_for_Assignment.Global_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Region</name>
        <label>Check Region</label>
        <locationX>642</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Loop_Accounts_for_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Region</defaultConnectorLabel>
        <rules>
            <name>Same_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Accounts.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecordVariable.Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRecordVariable.Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Accounts.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountRecordVariable.Parent.Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Same Region</label>
        </rules>
    </decisions>
    <interviewLabel>Global Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global Assignment Flow</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>417</locationX>
        <locationY>208</locationY>
        <collectionReference>Get_Accounts_in_Hierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Region</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Accounts_for_Assignment</name>
        <label>Loop Accounts for Assignment</label>
        <locationX>873</locationX>
        <locationY>214</locationY>
        <collectionReference>Get_Accounts_in_Hierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Global</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_in_Hierarchy</name>
        <label>Get Accounts in Hierarchy</label>
        <locationX>176</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordVariable.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>875</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>1045</locationX>
        <locationY>422</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordVariable.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Global_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Accounts_in_Hierarchy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
