force-app/main/default/flows/Global_Assignment_Flow_On_Record_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Update_Collection</name>
        <label>Add To Update Collection</label>
        <locationX>897</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>AccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Accounts_for_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts_for_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Account_s_Region</name>
        <label>Assign First Account&apos;s Region</label>
        <locationX>693</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>FirstAccountsRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Loop_Count</name>
        <label>Assign First Loop Count</label>
        <locationX>901</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_First_Account_s_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Global</name>
        <label>Assign Global</label>
        <locationX>897</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>Loop_Accounts_for_Assignment.Global_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loop_Count</name>
        <label>Check Loop Count</label>
        <locationX>894</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Loop_Count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Loop_Count</targetReference>
            </connector>
            <label>Loop Count 0</label>
        </rules>
        <rules>
            <name>Loop_Count_Greater_or_Equal_To_1_and_Region_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Accounts.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FirstAccountsRegion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Loop Count Greater or Equal To 1 and Region Match</label>
        </rules>
    </decisions>
    <interviewLabel>Global Assignment Flow (On Record Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global Assignment Flow (On Record Delete)</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>693</locationX>
        <locationY>371</locationY>
        <collectionReference>Get_Accounts_in_Hierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Loop_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Accounts_for_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Accounts_for_Assignment</name>
        <label>Loop Accounts for Assignment</label>
        <locationX>693</locationX>
        <locationY>619</locationY>
        <collectionReference>Get_Accounts_in_Hierarchy</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Global</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_in_Hierarchy</name>
        <label>Get Accounts in Hierarchy</label>
        <locationX>495</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR 4</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>694</locationX>
        <locationY>843</locationY>
        <inputReference>AccountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Get_Accounts_in_Hierarchy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Region__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>FirstAccountsRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
