force-app/main/default/flows/Select_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>SelectaCampaign</name>
        <choiceText>Select a Campaign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Marketing_User</name>
        <label>Is Marketing User</label>
        <locationX>167</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Select_Campaign_Non_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Campaign_Marketing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CRO Changes : Campaign List Update 
visible to Non Marketing user campaigns only</description>
    <dynamicChoiceSets>
        <name>MarketingCampaignRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Visible_to_Non_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NonMarketingCampaignChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visible_to_Non_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CampaignIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Campaign}),{!Campaign_0},{!Campaign})</expression>
    </formulas>
    <interviewLabel>Select Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>548</locationX>
        <locationY>229</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Brand_Initiative__c</field>
            <value>
                <elementReference>MarketingCampaignRecordChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_Brand_Initiative__c</field>
            <value>
                <elementReference>MarketingCampaignRecordChoice</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Campaign_Marketing</name>
        <label>Select Campaign</label>
        <locationX>373</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Campaign</name>
            <choiceReferences>SelectaCampaign</choiceReferences>
            <choiceReferences>MarketingCampaignRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectaCampaign</defaultSelectedChoiceReference>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Campaign_Non_Marketing</name>
        <label>Select Campaign</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity_0</targetReference>
        </connector>
        <fields>
            <name>Campaign_0</name>
            <choiceReferences>SelectaCampaign</choiceReferences>
            <choiceReferences>MarketingCampaignRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectaCampaign</defaultSelectedChoiceReference>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Is_Marketing_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
